.achievements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 120px;
  background-color: #fbfbfb;
}

.achievements-card {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 64px 120px 32px 120px;
  background-color: #050505;
  color: #fff;
  border-radius: 8px;
}

.achievements-list {
  list-style: none;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
  line-height: 24px;
  margin-top: 40px;
}
.achievements-list li {
  padding-bottom: 32px;
  position: relative;
}

.achievements-list li::before {
  content: '';
  position: absolute;
  background: #F8D43E;
  width: 8px;
  height: 8px;
  top: 8px;
  left: -16px;
  border-radius: 4px;
}

@media (max-width: 1400px) {
  .achievements {
    padding: 40px;
  }
  .achievements-card {
    width: 800px;
    padding: 20px 64px;
  }
}

@media (max-width: 1000px) {
  .achievements-card {
    width: 600px;
    padding: 20px 64px;
  }
}

@media (max-width: 800px) {
  .achievements{
    padding: 60px 0px;
  }
  .achievements-card {
    width: fit-content;
    padding: 20px 64px;
  }
  .achievements-list {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  .achievements-list li {
    padding-bottom: 24px;
  }
}

@media (max-width: 600px) {
  .achievements-card {
    padding: 32px;
    margin: 8px;
  }
}