.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro::after {
  content: '';
  width: 16px;
  height: 4px;
  background-color: #F8D43E;
  bottom: -2px;
  position: absolute;
}

.intro-img {
  width: 100%;
  height: 680px;
  object-fit: cover;
}

.intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 24px;
  width: 1200px;
  padding: 80px 40px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 90%);
  color: #fff;
  text-align: center;
}

.intro-card h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 48px;
  color: #F8D43E;
}

.intro-card p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 20px;
  width: 64ch;
}

@media (max-width: 1200px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
  }
  .intro-img {
    height: 480px;
  }
  .intro-card {
    background-color: rgb(0, 0, 0, 90%);
    width: fit-content;
    height: fit-content;
  }
}

@media (max-width: 800px) {
  .intro-img {
    height: 400px;
  }
  .intro-card h1 {
    font-size: 2.25rem;
  }
  .intro-card p {
    width: auto;
  }
  .intro-card {
    background-color: rgb(0, 0, 0, 90%);
    width: fit-content;
    height: 200px;
    padding: 24px;
    gap: 12px;
    margin: 12px;
  }
}