.team {
  background-color: #0A0A0A;
  color: #fff;
  padding: 120px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 64px;
  justify-content: center;
  text-align: center;
}

.team-container-title h2 {
  line-height: 32px;
}

.game-name {
  font-family: 'Nunito', sans-serif;
  font-size: 0.90rem;
  font-weight: 700;
  line-height: 16px;
  color: #ccc;
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
  max-width: 400px;
  padding: 32px;
  background-color: #000;
  border-radius: 8px;
}

.profile-pic {
  width: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.role {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.name {
  margin-bottom: 12px;
}

.name p {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.name span{
  font-family: 'Nunito',sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
}

.social {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.social img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1400px) {
  .team {
    padding: 64px;
    display: flex;
  }
  .team-container {
    margin-top: 64px;
  }
  .team-cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    padding: 16px;
    gap: 16px;
  }
  .name p {
    font-size: 1.5rem;
    margin: 0px;
  }
  .role {
    text-align: center;
    font-size: 0.75rem;
    padding: 0px;
    line-height: 12px;
    color: #F8D43E;
  }
  .profile-pic {
    max-width: 240px;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    margin-top: 12px;
  }
  /* arrumar responsividade dos cards */
}

@media (max-width: 800px) {
  .team {
    padding: 64px;
  }
  .team-container {
    margin: 0 auto;
  }
  .name p {
    font-size: 1.2rem;
  }
  .name span {
    font-size: 0.8rem;
    width: 60ch;
  }
  .team-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .social img{
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 600px) {
  .name p {
    font-size: 1.5rem;
  }
  .team-cards {
    grid-template-columns: 1fr;
  }
  .profile-pic {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .profile-pic {
    display: none;
  }
  .team-container {
    margin-top: 40px;
  }
}